{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h3>Ajouter/modifier user</h3>
        {{form_start(form)}}
        {{form_widget(form)}}
        <button type="submit" class="btn btn-success">Enregistrer</button>
        {{form_end(form)}}
    </div>
{% endblock %}
